@mixin mobile {
    @media screen and (width <= 480px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media screen and (width > 480px) and (width < 768px) {
      @content;
    }
  }
  
  .navbar {
    // width: 70%;
    height: 70px;
    padding: 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid lightgray;
    position: relative;
  
    @include mobile {
      padding: 0px 10px;
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
    }
  
    .left {
      width: 100px;
  
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  
    .center {
      width: 200px;
      border: 1px solid lightgray;
      border-radius: 5px;
      background-color: #fbfbfb;
      overflow: hidden;
  
      @include mobile {
        display: none;
      }
  
      input {
        border: none;
        width: 100%;
        padding: 10px;
        outline: none;
        background-color: #fbfbfb;
  
        &::placeholder {
          text-align: center;
          color: lightgray;
          font-weight: bold;
        }
      }
    }
  
    .right {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
  
      .icon {
        position: relative;
  
        &::after {
          content: "2";
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: -2px;
          right: -5px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #ed4956;
          border: none;
          color: white;
        }
      }
  
      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
  